[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-import-export = "*"
drf-yasg = "*"
django-decouple = "~=2.1"
psycopg2-binary = "~=2.9.3"
pillow = "*"
dj-rest-auth = "*"

[dev-packages]

[requires]
python_version = "3.9"
